# Standard-Verzeichnisse und Abhängigkeiten
.git/
.github/
docs/
node_modules/
media/
temp/
test/

# SHA256 Prüfsummen ausschließen
src/**/*.sha256
dist/**/*.sha256
**/*.sha256
*.sha256

# Systemdateien und Locks
package-lock.json
.DS_Store
.gitignore

# Automatisierungsskript
index.html
llms-full.txt
update.sh
verify.sh